.small-12.large-8.large-centered.columns
  %h1.text-center
    = @mod.name
    = @mod.code

  %ol
    - @mod.chapters.each do |chapter|
      %li
        = link_to chapter.name, mod_chapter_path(@mod, chapter)

