.large-12.large-centered.columns
  .row.text-center
    %h1
      Production Method Cost Break Even Graph
  .row
    .large-6.columns
      .row
        #chart{ data: { graph: 'production_method_cost_break_even_graph' } }
          %svg

      .large-6.columns
        %form
          %fieldset
            %legend Manual Method
            .small-6.columns
              .row.collapse
                %label Profit Break Even Point
                .small-9.columns
                  %input{ type: 'number', name: 'profit_break_even_point' }
                .small-3.columns
                  %span.postfix
                    units/yr

            .small-6.columns
              .row.collapse
                %label Total Time Required
                .small-9.columns
                  %input{ type: 'number', name: 'total_time_required' }
                .small-3.columns
                  %span.postfix
                    hr/yr

      .large-6.columns
        %form
          %fieldset
            %legend Automated Method
            .small-6.columns
              .row.collapse
                %label Profit Break Even Point
                .small-9.columns
                  %input{ type: 'number', name: 'auto_profit_break_even_point' }
                .small-3.columns
                  %span.postfix
                    units/yr

            .small-6.columns
              .row.collapse
                %label Total Time Required
                .small-9.columns
                  %input{ type: 'number', name: 'auto_total_time_required' }
                .small-3.columns
                  %span.postfix
                    hr/yr

      .large-12.columns
        %form
          %fieldset
            %legend Manual and Automated Method

            .row
              .small-6.columns
                .row.collapse
                  %label Break Even Point
                  .small-9.columns
                    %input{ type: 'number', name: 'break_even_point' }
                  .small-3.columns
                    %span.postfix
                      units/yr
            .row
              .small-6.columns
                .row.collapse
                  %label Total Time Required for Manual Method
                  .small-9.columns
                    %input{ type: 'number', name: 'total_time_required_for_manual_method' }
                  .small-3.columns
                    %span.postfix
                      hr/yr

              .small-6.columns
                .row.collapse
                  %label Total Time Required for Automated Method
                  .small-9.columns
                    %input{ type: 'number', name: 'total_time_required_for_auto_method' }
                  .small-3.columns
                    %span.postfix
                      hr/yr

    .large-3.columns
      = render '/chapters/me4262/graphs/manual_method_form'

    .large-3.columns
      = render '/chapters/me4262/graphs/automated_method_form'
