.large-12.large-centered.columns
  .row.text-center
    %h1
      Profit Break Even Graph
  .row
    .large-9.columns
      .row
        #chart{ data: { graph: 'profit_break_even' } }
          %svg

      .row
        .small-6.columns
          .row.collapse
            %label Profit Break Even Point
            .small-9.columns
              %input{ type: 'number', name: 'profit_break_even_point' }
            .small-3.columns
              %span.postfix
                units/yr

        .small-6.columns
          .row.collapse
            %label Total Time Required
            .small-9.columns
              %input{ type: 'number', name: 'total_time_required' }
            .small-3.columns
              %span.postfix
                hr/yr

    .large-3.columns
      = render '/chapters/me4262/graphs/manual_method_form'
