.header {
  background-color: #FFA300;
  padding: 1em 0 0 0;
  margin-bottom: 2em;
}

.header-span {
  display: block;
  background-color: black;
  height: 1em;
  opacity: 0.25;
}

.header-title {
  color: white;
  display: inline-block;
  font-family: 'Silkscreen';
}
