%ul
  %li
    = link_to 'Profit Break Even Graph',
        graphs_mod_chapters_path(name: 'profit_break_even')

  %li
    = link_to 'Production Method Cost Break Even Graph',
        graphs_mod_chapters_path(name: 'production_method_cost_break_even')
